body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    background-image: url('evolution.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}